<!DOCTYPE html>
<html lang="en" class="back">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/x-icon" href="static/hehe.ico">
    <title>WebScanner</title>
</head>
<body>

        <form>
            <center>
            <div class="section">
                <div class="back">
                    <a href="{{url_for('home')}}" ><p class="symbol">&#x21d0;</p></a>
                </div>
                <div class="first1">
                    <h1 class="f1">Sign Up</h1>
                </div>
                <div class="second">
                  
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username : </label>
                    <input type="text" class="f2" placeholder="   Username" name="uname"><br><br>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email ID : </label>
                    <input type="text" class="f2" placeholder="   Email ID" name="email"><br><br>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password : </label>
                    <input type="password" class="f2" placeholder="   password" name="password"><br><br>
                    <label>Confirm Password : </label>
                    <input type="password" class="f2" placeholder="   password"><br>
                    <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Make sure to type the same password </small><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn1">REGISTER</button><br><br><br>
           
                    <p style="font-size:25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -or Sign Up With- </p><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="bottom">Facebook</button>
                    <button class="bottom">Twitter</button>
                </div>
            </div>
        </center>
        </form>


</body>
</html>